  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-bottom:  0 4px 24px hsla(222, 68%, 12%, .1);
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav img {
    max-width: 50px;
  }

  nav ul li {
    margin: 0 1rem;
  }

  /* Styles for the icon images */
  .header-logo {
    width: 170px;
  }

  /* Search bar */
  .search_container{
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
  }

  .search{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--white-color);
    border-radius: 3rem;
    padding: 10px;
    overflow: hidden;   /*this will remove the overflow*/
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
  }

  .search_button:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .search_input{
    /* background-color: antiquewhite; */
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 3rem;
    padding-left: 10px;
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
  }

  .search_input:-webkit-autofill{
    box-shadow: 0 0 0 100px var(--white-color) inset;
  }

  .search_button {
    width: 47px;
    height: 47px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: opacity .6s cubic-bezier(.9, 0, .3, .9);
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .search_icon,
  .search_close {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
  }

  .search_close{
    opacity: 0;
  }

  .show-search{
    width: 300px;
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
  }

  .show-search .search_input{
    opacity: 1;
    pointer-events: initial;
  }

  .show-search .search_button{
    transform: rotate(90deg);
    background-color: black;
  }

  .show-search .search_icon{
    opacity: 0;
    color: white;
  }

  .show-search .search_close{
    opacity: 1;
    color: white;
  }

  .header-icon {
    width: 34px;
    height: 34px;
    padding: 10px;
    margin-right: 1.0vw;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
    border-radius: 40%;
    outline: none;
  }

  nav ul li:hover .header-icon {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .avatar {
    position: relative;
    margin-right: 3vw;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .avatar:hover {
    transform: scale(1.2);
  }

  /* for the dropdown menu */

  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 16%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 15px solid hsl(204 20% 88%);
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 50;
    min-width: 140px;
    flex-direction: column;
    overscroll-behavior: contain;
    border-radius: 0.5rem;
    border: 1px solid hsl(204 20% 88%);
    background-color: hsl(204 20% 100%);
    padding: 0.5rem;
    color: hsl(204 10% 10%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    max-height: max-content;
    overflow: visible;
  }
  
  .show {
    display: flex;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 0.5rem;
    color: inherit;
    text-decoration: none;
    border-radius: 0.25rem;
  }
  
  .dropdown-menu a:hover {
    background-color: hsl(204, 7%, 87%);
  }
  