.create-post-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .create-post-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  body.create-post-active {
    overflow: hidden;
  }
  
  .create-post {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 11;
    max-width: 600px;
    width: 100%;
  }

  .create-post_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 24px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .dropzone {
    border: 2px dashed #cccccc;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .dropzone input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .dropzone p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }  
  
  .dropzone img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-top: 10px;
  }

  button[type="submit"],
  button[type="button"] {
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #1559b5;
  }
  
  .create-post-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  