
  .box{
    max-width: 530px !important;
    margin: 0 auto;
    width: 100%; /* add this */
    padding: 0 20px; /* add this */
  }

  .post {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 100%; 
  }

  .post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .post_text {
    font-weight: normal;
    padding: 15px 20px;
  }

  .post_header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
  }

  .post_avatar {
    margin-right: 10px;
  }

  /* For the gap between username and the caption */
  .caption_text {
    margin-left: 7px; 
  }

  /* For handeling the enlarged post*/
  .enlarged_post {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .enlarged_post_content {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 60%;
    max-width: 700px;
  }  
  
  .blurred_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }

  .close_button {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  