<html>
  <head>
    <title>CSE 412 Group 5 Project Phase III - API Tutorial</title>
  </head>
  <body>
    <h1>CSE 412 Group 5 Project Phase III - API Tutorial</h1>
    <p>
      This page provdes instructions on how to use our API to interface with our
      MySQL
    </p>

    <h2>Route: /register</h2>
    <p>
      '/register' allows for HTTP POST requests to be made that result in
      registration of a new user within the Database. The data expected is of
      the same schema as the `User` table in our Database.
    </p>
    <p>
      Here's an example of a POST request that results in the creation of a new
      User inside the Database:
    </p>
    <code>
      axios.post('http://127.0.0.1:5000/register', {fName: 'John', lName: 'Doe',
      town: 'Phoenix', gender: 'M', pw: 'SHA256HashedPW', email: 'john@asu.edu',
      dob: '2023-04-04 12:34:56' });
    </code>
    <p>
      Axios will automatically serialize the JSON for you, so that it can be
      understood by the API, and will also set the proper HTTP headers.
    </p>

    <h2>Route: /login</h2>
    <p>
      '/login' allows for HTTP GET requests to be made that will return JSON
      that indicates if a user's credentials are valid or not. It does so with
      several parameters:
    </p>
    <h4>Parameter 1: email</h4>
    <p>This parameter should be the user's input email address.</p>
    <h4>Parameter 2: password</h4>
    <p>
      This parameter should be the SHA256-Hashed version of the user's input
      password.
    </p>
    <p>
      Here's an example of a GET request that will return either `{'success':
      True}` OR `{'success': False}`, depending on if the user's provided
      credentials are valid or not.
    </p>
    <code> 
      axios.get('http://127.0.0.1:5000/login', {
        params: {
          email: 'john@asu.edu',
          pw: 'AnSHA256HashedPW'
        }
      })
    </code>
  </body>
</html>
