.create {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.wrapper {
    text-align: center;
    margin-bottom: 2rem;
}

.wrapper h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.wrapper p {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 1rem;
}

.create_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.create_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.create_form input[type="text"],
.create_form input[type="email"],
.create_form input[type="password"],
.create_form input[type="date"],
.create_form select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_form button[type="submit"] {
    width: 100%;
    background-color: #32CD32;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

.create_form button[type="submit"]:hover {
    background-color: #27AE1B;
}

.create_form hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ddd;
}

.create_form a {
    color: #4CAF50;
    font-size: 1.1rem;
    text-decoration: none;
}

.create_form a:hover {
    text-decoration: underline;
}

.create_form span {
    color: #777;
    font-size: 1.1rem;
}
